* {
	margin: 0;
	padding: 0;
}

header{
	width: 100%;
	background: #030329 ;
	height: 70px;
}
.ancho{
	width: 100%;
	height: 70px;
	background: #030329;
	margin: auto;
}
.logo{
	width: 30%;
	height: 70px;
	background: #030329;
	float: left;
	padding-top: 20px;
	box-sizing: border-box;
}
.logo p a {

	color: #fff;
	font= size: 30px;
		text-decoration: none;
		font-weight: bold;
}

nav{
	color: #030329;
	width: 70%;
	height: 70px;
	background: olive;
	float: left;
	text-align: right;
	padding-top: 24px;
	box-sizing: border-box; 
}
nav ul li{

	display: inline;
	text-transform: uppercase;
}
nav ul li a{
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	padding-left: 15px;
	font-weight: bold;
	letter-spacing: 1px;
}
nav ul li a: hover {
	color: #444;
}
